body {
  font-family: Arial;
  background: #009bce;
  color: black;
  text-align: center;
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: solid;
  border-left-style: dotted;
  border-width:5px;
  border-color: Black Red Black Red;
}
h1 {
  font-size: 50px;
  color: red;
}
